body{
	margin: 0;
	padding: 0;
}

#container{
	height: 100%;
	width: 100%;
	background: url('assets/bg.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#main{
	margin: auto;
	display: block;
	cursor: pointer;
	padding-top: 50px;
}

h1, h2, h3, h4, h5{
	color:white;
}